.referrals {
    font-family: "Poppins", sans-serif;
    padding: 1em;
    display: grid;

    h2 {
        font-size: 1.3em;
    }

    & > p {
        font-size: 0.45em;
        color: var(--clr-neutral-400);
        width: 50%;
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    .btn-wrapper {
        display: flex;
        font-size: 0.45em;
        justify-content: center;
        margin-block-start: 1em;
        
        button {
            border-radius: 0;
            background-color: var(--clr-primary-800);
            color: var(--clr-neutral-400);
            font-weight: 400;
            padding: 0.55em 0.9em;


            &:not(.active):is(:hover, :focus-within) {
                background-color: var(--clr-accent-400);
            }
        }

        .active {
            color: var(--clr-neutral-900);
            background-color: var(--clr-accent-900);
        }

        .btn-1 {
            border-bottom-left-radius: 0.2em;
            border-top-left-radius: 0.2em;
        }
        
        .btn-2 {
            border-bottom-right-radius: 0.2em;
            border-top-right-radius: 0.2em;
        }
    }
    
    .card {
        display: none;      //grid
        text-align: center;
        margin-block-start: 1em;
        border: 1px solid #fff4;
        padding: 0.6em;
        border-radius: 0.1em;
        gap: 0.6em;
        width: 100%;
        max-width: 40rem;
        margin-inline: auto;
        background-color: #1114;
        box-shadow: 0em 0.1em 0.3em #000;

        * {
            font-size: 0.7em;      
        }

        p {
            font-size: 0.6em;
        }
         button {
            width: 100%;
         }

         &.active {
            display: grid;
         }
    }
}