.btn-transparent {
    padding: 0.45em 0.7em;
    border: 0.05rem solid #fff4;
    border-radius: 0.3em;
    font-size: 1.2em;
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 0.4em;

    &:is(:hover, :focus-within) {
        background-color: var(--clr-primary-800);
    }

    img {
        width: 1.6em;
    }
}
