.header {
    display: flex;
    box-shadow: 0 0.001em 0.2em var(--clr-primary-950);
    width: 100vw;
    width: 100dvw;
    overflow-x: hidden;

    .menuIcon {
        margin-inline-start: 0.5em;
        width: 0.8em;
        cursor: pointer;

        @media (min-width: 60em) {
            display: none;
        }
    }
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.3em;
    gap: 0.2em;

    & > * {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .logo {
        gap: 0.2em;
        cursor: pointer;

        img {
            height: 0.7em;
        }

        p {
            font-size: 0.6em;
            font-family: monospace;
            word-spacing: -0.3em;
            font-family: "Sometype Mono", monospace;
            letter-spacing: 0.08em;
        }
    }

    .page-links {
        font-family: sans-serif;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 0.35em;
        gap: 0.95em;
        color: var(--clr-neutral-200);

        @media (max-width: 60em) {
            display: none;
        }

        & > li > .active {
            color: var(--clr-neutral-900);
        }

        & > li:is(:hover, :focus-within) {
            color: var(--clr-neutral-900);
        }
    }

    .button-wrapper {
        font-size: 0.3em;
        gap: 1em;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        letter-spacing: 0.05em;

        @media (min-width: 10rem) and (max-width: 30rem) {
            font-size: 0.34em;
        }

        .network {
            gap: 0.2em;
            justify-content: space-between;

            &:is(:hover, :focus-within) {
                background-color: var(--clr-primary-800);
            }

            .line {
                height: 1.4em;
                width: 0.08em;
                background-color: #fff2;
                margin-inline: 0.5em 0;
            }

            img:nth-of-type(1) {
                width: 1.5em;
            }

            img:nth-of-type(2) {
                width: 1.7em;
            }
        }
    }
}

.sidemenu {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #111a;
    backdrop-filter: blur(15px);
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform-origin: left;
    transition: left 100ms ease;
    box-shadow: 0.2em 0 0.5em #00000085;

    @media (min-width: 60em) {
        display: none;
    }

    .page-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding-inline: 0.5em 1em;

        li {
            font-family: sans-serif;
            font-weight: 500;
            letter-spacing: 0.1em;
            font-size: 0.5em;
        }
    }

    .crossIcon {
        width: 0.8em;
        cursor: pointer;
    }

    &.menu--open {
        left: 0;
    }

    &.menu--close {
        left: -100%;
    }
}
